<div class="container">
  <div class="filters">
    <!-- Parenthesis "()" bind from the direction of the template to the component
     Use parenthese to bind to statments ""
     Statements return no value and typically create a change in the state of the application.
     -->
    <a routerLink="/catalog" [queryParams]="{filter: 'heads'}" routerLinkActive="disabled" class="button">Heads</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'arms'}" routerLinkActive="disabled" class="button">Arms</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'torsos'}" routerLinkActive="disabled" class="button">Torsos</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'bases'}" routerLinkActive="disabled" class="button">Bases</a>
    <a routerLink="/catalog"  class="button" routerLinkActive="disabled" [routerLinkActiveOptions]="{exact: true}">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <bot-product-details
      [product]="product"
      (buy)="addToCart(product)">
      </bot-product-details>
    </li>
  </ul>
</div>
